body {
  background-image: url('grey.png');
}

.board {
  border: thick solid black;
  margin: 36px auto;
}

.square {
  color: gold;
  font-size: 48px;
  height: 70px;
  width: 72px;
  text-align: center;
  text-shadow: 1px 1px 2px black;

}
.dark_square {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,black), color-stop(100%,grey));
  background: -webkit-linear-gradient(-45deg,  black 0%,grey 100%);

}
